.table{
    background: sandybrown;
    height:130px;
    width:200px;
    border: solid black 1px;
    position: relative;
    top: 10px;

}

.table2{
     background: sandybrown;
     height:130px;
     width:200px;
     border: solid black 1px;
     position: absolute;
     top: 18px;
    margin-left:205px;
}
.table3{
    background: sandybrown;
    height:130px;
    width:200px;
    border: solid black 1px;
    position: relative;
    top: 18px;
    margin-top: 2px;
}

.table4 {
    background: sandybrown;
    height: 130px;
    width: 200px;
    border: solid black 1px;
    position: absolute;
    top: 289px;
    margin-top: 2px;
    margin-left:205px;
}

.table5 {
    background: sandybrown;
    height: 130px;
    width: 200px;
    border: solid black 1px;
    position: absolute;
    top: 289px;
    margin-top: 136px;
    margin-left:205px;
}
.table6 {
    background: sandybrown;
    height: 130px;
    width: 200px;
    border: solid black 1px;
    position: absolute;
    top: 289px;
    margin-top: 2px;
    margin-left:410px;
}

.table7 {
    background: sandybrown;
    height: 130px;
    width: 200px;
    border: solid black 1px;
    position: absolute;
    top: 289px;
    margin-top: 136px;
    margin-left:410px;
}

.nom{
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    border-radius: 1.5em;
    background: linear-gradient(to right, rgba(52,99,153,1) 20%,rgba(41,137,216,1) 50%,rgba(55,100,153,1) 80%);
}

span{
    font-family: sans-serif;

}

